<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="{{ theme.link }}/images/favicon.ico"/>
		<link rel="pingback" href="{{ site.pingback_url }}">
		{{function('wp_head')}}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-L56W4XZ8P4"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-L56W4XZ8P4');
		</script>
	</head>
	<body class="{{ body_class }}">
		{{ fn('wp_body_open') }}
		{% include "partials/navigation.twig" with { items: menu.get_items } %}
		{% block content %}{% endblock %}

		<footer class="container mb-3">
			<img src="{{ theme.link }}/images/man-shovel-01.png" alt="man shovel" height="60" class="d-block">
			<div class="copyright mt-3">&copy;
				{{ bloginfo('name') }}
				{{ now|date('Y') }}</div>
			<div>
				Follow us:

				<a href="https://www.facebook.com/Productive-urbanism-106630077599200" target="_blank">
					<i class="lab la-facebook mx-1"></i>
				</a>
				<a href="https://www.instagram.com/unit_ecowarriors/" target="_blank">
					<i class="lab la-instagram"></i>
				</a>
			</div>
		</footer>
		{{ fn('wp_footer') }}
	</body>
</html>
