{% extends "partials/base.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="font-weight-bold">{{ term.title }}</h3>
				<div class="mb-3 description">{{ term.description|wpautop }}</div>
			</div>
		</div>
		<div class="row">
			{% for project in projects %}
				<div class="col-md-3">
					<a href="{{ project.link }}">
						<img src="{{ project.thumbnail.src|resize(480, 480) }}" alt="" class="rounded img-fluid mb-1">
						<p>{{ project.title }}</p>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
